doctype html
html.h-100
    head
        block head
            block title
                title Graphy
            block meta
                meta(charset='utf-8')
                meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1')
                meta(name='description', content='')
                meta(name='keywords', content='')
            link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
            link(href='/css/style.css', rel='stylesheet')
            
            link(rel='stylesheet', href='css/style.css')
            script(src='https://unpkg.com/cytoscape/dist/cytoscape.min.js')
            // jquery for graphml
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
            // for testing with local version of cytoscape.js
            // <script src="../cytoscape.js/build/cytoscape.js"></script>
            script(src='https://unpkg.com/layout-base/layout-base.js')
            script(src='https://unpkg.com/cose-base/cose-base.js')
            script(src='https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js')
            script(src='https://unpkg.com/cytoscape-graphml/cytoscape-graphml.js')
            script(src='js/cytoscape-expand-collapse.js')
            script(src='js/demo-compounds.js')
    body.d-flex.flex-column.h-100
        include header

        block content

        include footer